<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <add name="Conexion_app_visor" connectionString="Data Source=localhost;Initial Catalog=app_visor;User ID=postgres;Password=cartopass;Port=5433;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
