html, body
{
    height: 100%;
    width: 100%;
}

#container
{
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.navbar
{
    display: flex;
    justify-content: space-between;
}
tbody tr:hover
{
    background: #E9ECEF;
    cursor:pointer;
}

#button_group
{
    margin-bottom: 1.2rem;
    align-self: flex-end;
}
.btn-group label:hover
{
    cursor: pointer
}
.btn-group input
{
    display: none;
}


.btn-group label
{
    margin:0 !important;
}

td i
{
    font-size: 1.3rem;
}
table
{
    overflow: auto;
}

#modal2_content .form-inline
{
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
}

#modal2_content .form-inline .form-group
{
}
#modal2_content .form-inline .form-group select
{
    width: 10rem;
    margin-left: 1rem;
}

.eliminarBtn
{
    margin-left: 2rem;
}

.list-group-item, .select-group
{
    display: flex;
}

.list-group
{
    padding:.75rem 0rem;
    margin: 0 1.25rem;
}
.list-group-item
{
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0rem;
}

.select-group
{
    padding: .75rem 1.25rem;
    flex-direction: column;
    justify-content:center;
}


#modal2_content .form-inline .form-group:first-child
{
    margin-bottom: 1rem;
}

.dropdown
{
    width:100%!important;
}

.dropdown-menu
{
    max-height: 381px!important;
    overflow: inherit!important;
    min-height: 46px!important;
    min-width:600px!important;
    position: absolute!important;
    top: 0px!important;
    left: 0px!important;
    will-change: transform!important;
}
.form-group label
{
    padding-top:5px;
}

.bootstrap-select .dropdown-menu.inner
{
    box-shadow: 0.1px 0.1px 0.1px 1px rgba(186,186,186,1)!important;
}

.inner
{
    min-height: 0px!important;
}